body {
  text-align: center;
}

.play-zone {
  height: 400px;
  margin: auto;
}
table {
  margin: auto;
}
table tr {
  height: 30px;
  width: 30px;
}
table tr td {
  border: 1px solid rgb(59, 59, 59);
  text-align: center;
  height: 25px;
  width: 25px;
}

.flag {
  width: 100%;
}
.cover {
  width: 100%;
}

.timer {
  padding: 10px;
}

.levels {
  height: 50px;
}

